@model IEnumerable<CollegeManagement.MVC.Models.CourseViewModel>

@{
    ViewBag.Title = "Courses";
}

<h2>List of Courses</h2>

<button type="button" class="btn btn-toolbar">
    @Html.ActionLink("Create New Course", "Create")
</button>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">
                Course Name
            </th>
            <th scope="col">
                Nº Of Teachers
            </th>
            <th scope="col">
                Nº Of Students
            </th>
            <th scope="col">
                Average Course Grade
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfTeachers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfStudents)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeAverage)
                </td>
                <td>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = item.CourseId })</button>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Details", "Details", new { id = item.CourseId })</button>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Delete", "Delete", new { id = item.CourseId })</button>
                </td>
            </tr>
        }
    </tbody>
</table>