@model IEnumerable<CollegeManagement.MVC.Models.StudentViewModel>

@{
    ViewBag.Title = "Students";
}

<h2>List of Students</h2>

<button type="button" class="btn btn-toolbar">
    @Html.ActionLink("Create New Student", "Create")
</button>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                Student Name
            </th>
            <th>
                Student Registry Number
            </th>
            <th>
                Student Birth Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentRegNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentBirthDate)
                </td>
                <td>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = item.StudentId })</button>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Details", "Details", new { id = item.StudentId })</button>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Delete", "Delete", new { id = item.StudentId })</button>
                </td>
            </tr>
        }
    </tbody>
</table>