@model IEnumerable<CollegeManagement.Model.Grade>

@{
    ViewBag.Title = "Grades";
}

<h2>List of Grades</h2>

<button type="button" class="btn btn-toolbar">
    @Html.ActionLink("Create New Grade", "Create")
</button>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">
                Student
            </th>
            <th scope="col">
                Subject
            </th>
            <th scope="col">
                Grade
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeValue)
                </td>
                <td>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = item.GradeId })</button>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Details", "Details", new { id = item.GradeId })</button>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Delete", "Delete", new { id = item.GradeId })</button>
                </td>
            </tr>
        }
    </tbody>
</table>