@model IEnumerable<CollegeManagement.MVC.Models.TeacherViewModel>

@{
    ViewBag.Title = "Teachers";
}

<h2>List of Teachers</h2>

<button type="button" class="btn btn-toolbar">
    @Html.ActionLink("Create New Teacher", "Create")
</button>
<table class="table table-hover table-responsive">
    <tr>
        <th>
            Teacher Name
        </th>
        <th>
            Teacher Birth Date
        </th>
        <th>
            Teacher Salary
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherBirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherSalary)
            </td>
            <td>
                <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = item.TeacherId })</button>
                <button type="button" class="btn btn-default">@Html.ActionLink("Details", "Details", new { id = item.TeacherId })</button>
                <button type="button" class="btn btn-default">@Html.ActionLink("Delete", "Delete", new { id = item.TeacherId })</button>
            </td>
        </tr>
    }
</table>